/* components/PriorAuthorizationSummary/prior_authorization_summary.css */

/* Styling for the PriorAuthorizationSummary component */
.prior-authorization-summary {
    background-color: var(--accordion-content-bg-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    color: var(--primary-text-color);
}

.summary-title {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: var(--text-color);
}

.summary-section {
    margin-bottom: 20px;
}

.summary-section h3 {
    margin-bottom: 10px;
    color: var(--text-color);
    font-weight: bold;
}

.summary-section p {
    margin: 5px 0;
}
