/* components/PolicyInfo/policy_info.css */

/* Container for the PolicyInfo component */
.policy-info-container {
    background-color: var(--accordion-content-bg-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0px 0;
    color: var(--primary-text-color);
}

.policy-header {
    margin-bottom: 15px;
}

.policy-info-sections {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Accordion-specific styles */
.custom-accordion-toggle {
    font-weight: bold;
    background-color: var(--accordion-bg-color);
    color: var(--primary-text-color);
    padding: 0px 10px;
    border: 1px solid var(--accordion-border-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.custom-accordion-toggle:hover {
    background-color: var(--accordion-hover-bg-color);
    color: var(--text-color); /* Ensure text color changes on hover */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.custom-accordion-toggle.pf-m-expanded {
    background-color: var(--accordion-expanded-bg-color);
    color: var(--text-color); /* Change text color for expanded state */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Stronger shadow for expanded state */
}

.pf-c-accordion__content {
    padding: 0px;
    background-color: var(--accordion-content-bg-color);
    color: var(--primary-text-color);
    border-left: 1px solid var(--accordion-border-color);
    border-right: 1px solid var(--accordion-border-color);
    border-bottom: 1px solid var(--accordion-border-color);
}
