/* components/PatientData/patient_data.css */

/* Styling for the PatientData component */
.patient-data {
    background-color: var(--accordion-content-bg-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    color: var(--primary-text-color);
}

.data-title {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: var(--text-color);
}

.data-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.data-field {
    flex: 1;
}

/* Admission Summary styling */
.admission-summary {
    margin-top: 20px;
    margin-bottom: 20px;
}

.admission-summary p {
    margin: 10px 0;
}

/* Diagnoses and Procedures columns */
.data-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.data-column {
    flex: 1;
}

.data-column ul {
    padding-left: 20px;
}

.data-column li {
    margin: 5px 0;
}

/* Accordion-specific styles */
.custom-accordion-toggle {
    font-weight: bold;
    background-color: var(--accordion-bg-color);
    color: var(--primary-text-color);
    padding: 10px 15px;
    border: 1px solid var(--accordion-border-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.custom-accordion-toggle:hover {
    background-color: var(--accordion-hover-bg-color);
    color: var(--text-color); /* Ensure text color changes on hover */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.custom-accordion-toggle.pf-m-expanded {
    background-color: var(--accordion-expanded-bg-color);
    color: var(--text-color); /* Change text color for expanded state */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Stronger shadow for expanded state */
}

.pf-c-accordion__content {
    padding: 15px;
    background-color: var(--accordion-content-bg-color);
    color: var(--primary-text-color);
    border-left: 1px solid var(--accordion-border-color);
    border-right: 1px solid var(--accordion-border-color);
    border-bottom: 1px solid var(--accordion-border-color);
}
